.trucks {
  margin: 10px;
  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 17px;
  }
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  width: 15%;
  padding: 10px;
  &__sprinter,
  &__small-straight,
  &__large-straight {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
  }
  &__label {
    margin: 5px 0;
  }
  &__name {
    text-align: center;
  }
  &__button {
    margin: 5px 0;
    text-transform: uppercase;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    width: 100vw;
  }
}
.truck-card {
  width: 20%;
  margin: 10px;
  border: 2px solid #000;
  &__info {
    list-style-type: none;
    padding: 10px;
  }
  &__span {
    font-weight: 700;
  }
  &__title {
    text-align: center;
  }
  &__title,
  &__name,
  &__assigned,
  &__status,
  &__type,
  &__width,
  &__height,
  &__length,
  &__payload {
    margin: 5px 0;
  }
}
.assigned-loads {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}
