.forgot-password {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  &_button {
    text-transform: uppercase;
    text-align: center;
  }
  &__result {
    color: #7cfc00;
    margin: 5px 0;
    font-size: 12px;
  }
}
