<form [formGroup]="userData" class="registration">
  <div class="registration__inputs">
    <input
      class="registration__name"
      type="text"
      placeholder="Name"
      formControlName="name"
    />
    <input
      [class.is-invalid]="
        userData.get('username').invalid && userData.get('username').touched
      "
      class="registration__username"
      type="text"
      placeholder="Username"
      formControlName="username"
    />
    <div
      *ngIf="(username.invalid && username.touched) || username.dirty"
      class="registration__error"
    >
      <span *ngIf="username.errors?.required" class="text-danger"
        >Uusername is required!</span
      >
      <span *ngIf="username.errors?.pattern" class="text-danger"
        >Username should be more than 5 characters length</span
      >
    </div>
    <input
      [class.is-invalid]="
        userData.get('password').invalid && userData.get('password').touched
      "
      class="registration__password"
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    <div
      *ngIf="(password.invalid && password.touched) || password.dirty"
      class="registration__error"
    >
      <span *ngIf="password.errors?.required" class="text-danger"
        >Password is required!</span
      >
      <span *ngIf="password.errors?.pattern" class="text-danger"
        >Password must contain at least one uppercase letter, one lowercase
        letter, number and special character</span
      >
    </div>
    <input
      [class.is-invalid]="
        userData.get('email').invalid && userData.get('email').touched
      "
      class="registration__email"
      type="email"
      placeholder="Email"
      formControlName="email"
    />
    <div>
      <div
        *ngIf="(email.invalid && email.touched) || email.dirty"
        class="registration__error"
      >
        <span *ngIf="email.errors?.required" class="text-danger"
          >Email is required</span
        >
        <span *ngIf="email.errors?.pattern" class="text-danger"
          >Please provide a valid email address</span
        >
      </div>
    </div>
  </div>

  <div class="registration__footer">
    <label
      >Driver:
      <input
        value="Driver"
        formControlName="status"
        name="status"
        type="radio"
      />
    </label>
    <label>
      Shipper:
      <input
        value="Shipper"
        formControlName="status"
        name="status"
        type="radio"
      />
    </label>

    <button
      class="registration__button button"
      [disabled]="userData.invalid"
      (click)="registrateUser()"
    >
      Submit
    </button>
  </div>
</form>
<div *ngIf="regFail" class="registration__fail">Registration failed</div>
