.is-invalid {
  border: 2px solid red;
}
.button {
  text-transform: uppercase;
}
.registration {
  &__inputs {
    width: 20%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }

  &__name,
  &__username,
  &__password,
  &__email {
    margin: 10px 0;
  }
  &__footer {
    width: 20%;
    display: flex;
    justify-content: space-between;
  }
  &__error,
  &__fail {
    font-size: 10px;
    color: rgb(255, 0, 0);
  }
}
