<div class="assigned-loads__inner">
  <div class="assigned-loads__title">Assigned load</div>
  <div class="assigned-loads__created">
    <span class="assigned-loads__span">Created by :</span>
    {{ load.created_by }}
  </div>
  <ul class="assigned-loads__dimensions">
    <li class="assigned-loads__width">
      <span class="assigned-loads__span">Width: </span
      >{{ load.dimensions.width }}
    </li>
    <li class="assigned-loads__height">
      <span class="assigned-loads__span">Height: </span
      >{{ load.dimensions.height }}
    </li>
    <li class="assigned-loads__length">
      <span class="assigned-loads__span">Length: </span
      >{{ load.dimensions.length }}
    </li>
  </ul>
  <div class="assigned-loads__payload">
    <span class="assigned-loads__span">Payload: </span>{{ load.payload }}
  </div>
  <button
    (click)="arrived(load)"
    class="assigned-loads__button button"
  >
    Arrived to delivery
  </button>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
