.assigned-loads {
  &__title {
    font-weight: 700;
    text-align: center;
  }
  &__inner {
    padding: 15px;
    margin: 10px;
    border: 2px solid rgba(0, 0, 255);
  }
  &__created,
  &__width,
  &__height,
  &__length,
  &__payload {
    margin: 5px 0;
  }
  &__span {
    font-weight: 700;
  }
  &__dimensions {
    list-style-type: none;
    padding: 0;
  }
  &__button {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
}
