<div class="users-page">
  <ul class="users-page__info">
    <li class="users-page__name">
      <span class="users-page__span">Name: </span>{{ user.name }}
    </li>
    <li class="users-page__username">
      <span class="users-page__span">Username: </span>{{ user.username }}
    </li>
    <li class="users-page__email">
      <span class="users-page__span">Email: </span>{{ user.email }}
    </li>
    <li class="users-page__status">
      <span class="users-page__span">Status: </span>{{ user.status }}
    </li>
  </ul>
  <button
    *ngIf="!showChangePass"
    (click)="passwordToogle()"
    class="users-page__reset"
  >
    change-password
  </button>
  <form
    *ngIf="showChangePass"
    [formGroup]="changePasswordForm"
    class="user-page__change-password change-password"
  >
    <input
      class="change-password__new-password"
      type="text"
      placeholder="Your new password"
      formControlName="newPassword"
    />
    <button
      [disabled]="changePasswordForm.invalid"
      class="change-password__button button"
      (click)="changePassword()"
    >
      Submit
    </button>
  </form>
  <p *ngIf="!showChangePass" class="change-password__status">
    {{ statusOfPassChange }}
  </p>
</div>
