<%if(loginError) {%>
<h2>Can not find such user...</h2>
<a href="/login">Back to login</a>
<%}else {%>
<form class="login form">
  <input name="logUserName" class="login__username" />
  <input name="logUserPass" type="password" class="login__password" />
  <a class="login__link"
    ><button type="button" class="login__button">Submit</button></a
  >
</form>
<% }%>
<script src="/scripts/loginHandler.js" type="text/javascript"></script>
