.load-form {
  display: flex;
  flex-direction: column;
  width: 15%;
  text-align: center;
  border: 2px solid #000;
  padding: 10px;
  margin: 10px;
  &__title {
    font-weight: 700;
  }
  &__width,
  &__height,
  &__length,
  &__payload {
    margin: 10px 0;
  }
}
.loads {
  list-style-type: none;
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.load-card {
  border: 2px solid #000;
  margin: 10px;
  padding: 20px;
  width: 20%;
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin: 5px 0;
  }
  &__dimensions {
    list-style-type: none;
    padding: 0;
  }
  &__prop {
    font-weight: 700;
  }
  &__status,
  &__state,
  &__dimensions,
  &__payload,
  &__asigned {
    margin: 10px 0;
  }
  &__buttons {
    width: 100%;
  }
  &__input {
    width: 40%;
  }
}
