<form class="load-form" [formGroup]="loadGroup">
  <span class="load__title">Create your load</span>
  <input
    class="load-form__width"
    formControlName="width"
    type="number"
    placeholder="Width"
  />
  <input
    class="load-form__height"
    formControlName="height"
    type="number"
    placeholder="Height"
  />
  <input
    class="load-form__length"
    formControlName="length"
    type="number"
    placeholder="length"
  />
  <input
    class="load-form__payload"
    formControlName="payload"
    type="number"
    placeholder="Payload"
  />
  <button
    (click)="addLoad()"
    class="load-form__button button"
    [disabled]="loadGroup.invalid"
    type="button"
  >
    Submit
  </button>
</form>
<ul class="loads">
  <li *ngFor="let load of userLoads" class="loads__item load-card">
    <div class="load-card__title">Load id: {{ load._id }}</div>
    <div class="load-card__asigned">
      <span class="load-card__prop">Assigned to: </span>{{ load.assigned_to }}
    </div>
    <div class="load-card__status">
      <span class="load-card__prop">Status: </span>{{ load.status }}
    </div>
    <div class="load-card__state">
      <span class="load-card__prop">State: </span>{{ load.state }}
    </div>
    <ul class="load-card__dimensions">
      <li *ngIf="load.status !== 'NEW'" class="load-card__width">
        <span class="load-card__prop">Width: </span>{{ load.dimensions.width }}
      </li>
      <li *ngIf="load.status === 'NEW'" class="load-card__width">
        <label class="load-card__prop"
          >Width:
          <input
            class="load-card__input"
            [(ngModel)]="load.dimensions.width"
            type="text"
          />
        </label>
      </li>
      <li *ngIf="load.status !== 'NEW'" class="load-card__height">
        <span class="load-card__prop">Height: </span
        >{{ load.dimensions.height }}
      </li>
      <li *ngIf="load.status === 'NEW'" class="load-card__height">
        <label class="load-card__prop"
          >Height:
          <input
            class="load-card__input"
            [(ngModel)]="load.dimensions.height"
            type="text"
          />
        </label>
      </li>
      <li *ngIf="load.status !== 'NEW'" class="load-card__height">
        <span class="load-card__prop">Length: </span
        >{{ load.dimensions.length }}
      </li>
      <li *ngIf="load.status === 'NEW'" class="load-card__length">
        <label class="load-card__prop"
          >Length:
          <input
            class="load-card__input"
            [(ngModel)]="load.dimensions.length"
            type="text"
        /></label>
      </li>
    </ul>
    <div *ngIf="load.status !== 'NEW'" class="load-card__height">
      <span class="load-card__prop">Payload: </span
      >{{ load.dimensions.payload }}
    </div>
    <div *ngIf="load.status === 'NEW'" class="load-card__payload">
      <label class="load-card__prop"
        >Payload:
        <input class="load-card__input" [(ngModel)]="load.payload" type="text"
      /></label>
    </div>
    <div class="load-card__buttons" *ngIf="load.status === 'NEW'">
      <app-update-load
        [loadGroup]="loadGroup.value"
        [userLoads]="userLoads"
        [load]="load"
      ></app-update-load>
      <app-post-load [userLoads]="userLoads" [load]="load"></app-post-load>
      <app-delete-load
        [(userLoads)]="userLoads"
        [load]="load"
        (userLoadsChange)="this.userLoads = $event"
      ></app-delete-load>
    </div>
  </li>
</ul>
